<div class="container">
<h1>Login</h1>
  
  <img src="assets/FB-f-Logo__blue_72.png"> 
  <br/>
  <%= link_to "Sign in with facebook", "/auth/facebook" %> <%= link_to "Sign in with Linkedin", "/auth/linkedin" %>  

 
<%= form_tag sessions_path do%>
<div class="field">
<%= label_tag :email %><br />
<%= text_field_tag :email %>
</div>
<div class="field">
<%= label_tag :password %><br />
<%= password_field_tag :password %>
</div>
<div class="actions">
<%= submit_tag 'Login' %>
</div>
<% end %>

<<<<<<< HEAD
<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>

<script>
FB.login(function(response) {
  if (response.status === 'connected') {
    // Logged into your app and Facebook.
  } else if (response.status === 'not_authorized') {
    // The person is logged into Facebook, but not your app.
  } else {
    // The person is not logged into Facebook, so we're not sure if
    // they are logged into this app or not.
  }
});
</script>
=======
</div>
>>>>>>> e7be733b64590fa19b0bc5199691b8f513814f32

