<div class="container">
<h1>Login</h1>
  
  <img src="assets/FB-f-Logo__blue_72.png"> 
  <br/>
  <%= link_to "Sign in with facebook", "/auth/facebook" %> <%= link_to "Sign in with Linkedin", "/auth/linkedin" %>  

 
<%= form_tag sessions_path do%>
<div class="field">
<%= label_tag :email %><br />
<%= text_field_tag :email %>
</div>
<div class="field">
<%= label_tag :password %><br />
<%= password_field_tag :password %>
</div>
<div class="actions">
<%= submit_tag 'Login' %>
</div>
<% end %>

</div>

