
<div class="page-header">
	<h2>Make a public post</h2>
</div>
<div class="well clearfix">
	<%= form_tag({},{:class => ""}) do %>

		<div class="form-group">
			<%= text_area_tag(:post, "", size: "24x6", class: "form-control") %>
		</div>


		<label class="radio-inline form-group">
			<%= radio_button_tag(:audience, "child") %>
			Customer
		</label>

		<label class="radio-inline form-group">
			<%= radio_button_tag(:audience, "adult") %>
			Not customer
		</label>

		<label class="radio-inline form-group">
			<%= radio_button_tag(:audience, "adult") %>
			Everybody
		</label>

		<div id="image-upload">
			<div class="form-group">
	    		<label for="exampleInputFile" class="control-label">File input</label>
	    		<input type="file" id="exampleInputFile">
	    		<p class="help-block"></p>
			</div>
		</div>
		<%= button_tag("Post", {class: "btn btn-default pull-right"})%>
	<% end %>
	
</div>