<%= form_for @customer, :url => {:controller => :register, :action => :registerCustomer}, html: {class: "form-horizontal"} do |c| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> </h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= c.label :email %><br>
    <%= c.text_field :email %>
  </div>
  <div class="field">
    <%= c.label :password %><br>
    <%= c.text_field :password %>
  </div>
  <div class="actions">
    <%= c.submit("Enter") %>
  </div>
<% end %>


