<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav navbar-nav">
				<li>
					<a class="navbar-brand" href="home">L O G O</a>
				</li>
			</ul>
			

		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
			
				<% if(request.original_url != "http://localhost:3000/register") %>
					<% if(!logged_in?) %>
						<li><a href="#how-it-works">How it works</a></li>
						<li><a href="#features">Features</a></li>
						<li><a href="#pricing">Pricing</a></li>
					<% end %>
				<% end %>
                            
				 <% if logged_in? %>
				 	<li>
				 		<%= link_to "News", news_path %>
				 		
				 	</li>
				 	<li><%= link_to "Profile", profile_path%></li>
				 	<li><%= link_to "Settings", settings_path%></li>
				 	<li><%= link_to "Inbox", messages_path%></li>
				 	<li><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendar</a></li>
                    <li>  <%= link_to "Log Out", logout_path %> </li>
                 <% else %>
				 <li class="dropdown">
					<a href="/login" >Log in </a>
					<!--<ul class="dropdown-menu" role="menu">
						<form class="navbar-form navbar-login" role="form">
							<div class="form-group">
								<input type="text" placeholder="Email" class="form-control">
							</div>
							<div class="form-group">
								<input type="password" placeholder="Password" class="form-control">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success">Sign in</button> 
							</div>
							<div class="form-group">
								<a href="#" class="col-xs-offset"><small>Forgot?</small></a>
							</div>
						</form>
					</ul>-->
				</li>
				    <% if(request.original_url != "http://localhost:3000/register" && 
                                        request.original_url != "http://localhost:3000/registerCustomer") %>
					    <li>
						   <%= button_to("Get Started", 
									{ :controller => "register", :action => "index" }, 
									{:method => :get, :class => "btn btn-primary navbar-btn"}) %>

					    </li>
				    <% end %>
               <% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				
			</ul>
		</div><!--/.navbar-collapse -->
	</div>
</nav>




